<div id="sub_menu">
  <div class="row">
    <div class="large-12 columns">
      <dl class="sub-nav">
        <dd><%= link_to "Volver al Staff", staffs_path%></dd>
        <dd class="last">
          <%= link_to "Nuestros Residentes", residents_path%>
        </dd>
      </dl>
    </div>
  </div>
</div>
