<div id="staff">
  <div id="title_bar" class="with-submenu">
    <div class="row">
      <div class="large-12 columns">
        <h2 class="widthout-news">Nuevos Médicos</h2>
      </div>
    </div>
  </div>
  <%= render 'sub_menu_staff' %>
  <div class="row">
  <%= render 'cv' %>
    </div>
</div>
