<div id="servicios">
  <div id="title_bar" class="widthout-submenu">
    <div class="row">
      <div class="large-12 columns">
        <p>Invertimos en alta tecnología para mayor calidad y precisión en diagnósticos por imágenes</p>
        <h2>Nuevos Servicios</h2>
      </div>
    </div>
  </div>
  <div class="row main">
    <%= render 'machine_list' %>
  </div>
  <div class="row secondary">
    <%= render 'type_list' %>
  </div>
</div>
