<div id="pagina-info">
  <%= render 'title_bar' %>

  <div class="row">
    <div class="large-8 columns">
      <article>
        <%= render 'body' %>
      </article>
    </br>
    </div>
  </div>
</div>
