<div class="info-panel">
  <div class="panel">
    <figure class="responsive" data-media="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-small.png" data-media768="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-medium.png" data-media960="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-large.png" title="Servicios">
      <noscript>
        &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;img src="http://mc-cms-production.s3.amazonaws.com/quienes-somos/image-panel-1-large.png" alt="Servicios"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
      </noscript>
    </figure>
    <div class="description">
      <h3>IN MEMORIAN</h3>
      <h2>Prof. Dr. Luis Méndez Collado</h2>
      <%= link_to "VER MÁS", history_in_memoriam_path, :class=> "link_button"%>
    </div>
  </div>
</div>
