<div class="info-panel">
  <div class="panel">
    <figure class="responsive" data-media="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-small.png" data-media768="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-medium.png" data-media960="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" title="Actividad">
      <noscript>
        &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;img src="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" alt="Actividad"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
      </noscript>
    </figure>
    <div class="description">
      <h3>Actividad Académica</h3>
      <h2>Pre-Inscripción</h2>
      <a class="link_button btn_orange" href="#">VER MÁS</a>
    </div>
  </div>
</div>
<div class="info-panel">
  <div class="panel">
    <figure class="responsive" data-media="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-small.png" data-media768="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-medium.png" data-media960="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" title="Actividad">
      <noscript>
        &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;img src="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" alt="Actividad"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
      </noscript>
    </figure>
    <div class="description">
      <h3>Actividad Académica</h3>
      <h2>Pre-Inscripción</h2>
      <a class="link_button btn_orange" href="#">VER MÁS</a>
    </div>
  </div>
</div>
<div class="info-panel">
  <div class="panel">
    <figure class="responsive" data-media="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-small.png" data-media768="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-medium.png" data-media960="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" title="Actividad">
      <noscript>
        &amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;img src="http://mc-cms-production.s3.amazonaws.com/carrera/sidebar-picture1-large.png" alt="Actividad"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;
      </noscript>
    </figure>
    <div class="description">
      <h3>Actividad Académica</h3>
      <h2>Pre-Inscripción</h2>
      <a class="link_button btn_orange" href="#">VER MÁS</a>
    </div>
  </div>
</div>
