<div id="pagina-info">
  <div id="title_bar">
    <div class="row">
      <div class="large-12 columns">
       <p>In Memoriam</p>
       <h2>Prof. Dr. Luis Méndez Collado</h2>
      </div>
    </div>
  </div>
 <br />
  <div class="row">
    <div class="large-8 columns">
      <section id="main">
        <article>
           <p>
             Nació en San Miguel de Tucumán el 21 de junio de 1926, sus estudios secundarios los realizó en el Colegio Nacional donde se graduó de bachiller, cursó la carrera de Médico en la Facultad de Medicina en la ciudad de Córdoba obteniendo el titulo en 1951.; estuvo casado con Da. María Elena Uriburu, amiga y confidente compañera hasta su muerte, en junio del 2001. Tuvieron siete hijos, que les dieron 25 nietos y 3 bisnietas.
           </p>
           <p>
             Realizó sus primeras armas en Radiología bajo la tutela de los Dres. David Caro y Savino Di Rienzo en la ciudad donde desarrolló sus estudios; en el año 1950 accedió al cargo de Ayudante Menor Interino y luego al de Ayudante Mayor en la Cátedra de Fisiodiagnóstico y Fisioterapia, hoy Radiología, de la Facultad de Medicina de la Universidad Nacional de Córdoba.
           </p>
           <p>
           De regreso a Tucumán, en el año 1951, comien_ za a desarrollar su trabajo en la especialidad con quien fue su tío, maestro y socio, el Dr. Julio Méndez Valladares. Ellos y el Dr. Lídoro M. Figueroa fundaron una institución prestigiosa de esta provincia, que hoy lleva el nombre del “Dr. Julio Méndez Valladares”.
           </p>
           <p>
             En el año 1953, ingresa como Jefe de Trabajos Prácticos en la Facultad de Medicina de la Universidad Nacional de Tucumán (de reciente creación), en la cual desplegó gran parte de su actividad docente, jubilándose como Profesor Titular en noviembre de 1987. Actualmente era Profesor Plenario de la Facultad de Medicina de la U.N .T..
           </p>
           <p>
             Fué Miembro Fundador del Colegio Argentino de Médicos Radioterapeutas, Miembro Titular del Colegio Interamericano de Radiología (CIR), de la Sociedad Argentina de Radiología (SAR) la que en el año 2006 le otorgó la medalla de oro en “Merito de la trayectoria en Radiología”, de la Sociedad Tucumana de Radiología y de la Federación del NOA Radiológico, llegando a ser Presidente de estas dos últimas. Tuvo una activa participación en cursos de postgrado, trabajos investigativos y eventos nacionales e internacionales. Fue autor de numerosas publicaciones científicas.
           </p>
           <p>
             Junto a sus cuatro hijos médicos fundó el Centro Radiológico “Luís Méndez Collado”, desarrollando sus actividades en el mismo desde el 19 de Abril del año 1990. A partir del año 1993, se desempeñó como Director de la Residencia en Diagnóstico por Imágenes con aval de la Universidad Nacional de Tucumán, que se convirtió luego en Carrera Universitaria de Especialización en Diagnóstico por Imágenes con Modalidad de Residencia.
           </p>
           <p>
             Los rayos X se monitorean y se regulan, de manera que la exposición a la radiación que se necesita para producir la imagen sea mínima.
           </p>
           <p>
             En el perfil de la personalidad científico profesional y humana de Lucho – todo el mundo lo conocía como tal más que por Luís – destacan con especial fuerza la escrupulosa severidad intelectual con que procedía siempre en sus trabajos; estaba excepcionalmente dotado para la interpretación y la critica histórico pedagógicas, sus análisis en este aspecto eran especialmente penetrantes y sugerentes. Otro rasgo característico de su semblante profesional y humano era el empeño sostenido con tenacidad por mantener sin fisuras la unión entre tradición e innovación, entre el saber y la vida. La actualización permanente en todos los ámbitos fue un verdadero ejemplo hasta sus últimos días.
           </p>
           <p>
              Por encima de sus reconocidas actividades científicas y de su habilidad técnica, será recordado por su trascendente calidad humana: su respeto y su preocupación por el bienestar y la comodidad de los enfermos, su gentileza en el trato con colegas y subordinados, sus sentimientos y dotes de camaradería; su finura de sensibilidad y delicadeza extrema y su buen humor, que dejaron impronta en todos los que lo conocieron.
           </p>
           <p>
              Se administra el contraste y después se realizan las radiografías oportunas. El método de administración del contraste varía según el estudio a realizar. Puede ingerirse, aplicarse por vía endovenosa o por enema.
           </p>
           <p>
              Soportó con extraordinario estoicismo y profunda resignación cristiana la enfermedad incurable que le afectaba, diagnosticada por él mismo. Intentó mantener su actividad profesional sin desmayo hasta el fin. Ni siquiera en sus últimos lúcidos días se dio por vencido y a pesar de las dificultades físicas cada vez mayores, siguió en contacto con los numerosos amigos que acudían a visitarle; hombre afable y bondadoso, que desdeñaba resueltamente la figuración y la solemnidad; como buen cristiano, supo ayudar al prójimo con diligencia y sin alardes, brindando todo lo que era y lo que tenía, según le dictaba la calidez de su corazón. Falleció rodeado por el afecto su amplia familia el día 14 de enero de 2007.
           </p>
        </article>
     </section>
    </div>

    <div class="large-4 columns">
      <%= render 'info_panels_in_memoriam' %>
    </div>
  </div>
</div>
