<div id="pagina-info">
  <div id="title_bar" class="widthout-submenu">
    <div class="row">
      <div class="large-12 columns">
        <h2>Nuestra Historia</h2>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      <article>
        <p>
          El Centro Radiológica inicia su trabajo en el diagnóstico médico por imágenes en el mes de Abril de 1989, integrándose rápidamente al ambiente científico, asistencial y docente de la provincia y de la región NOA. 
        </p>
        <p>
          Nace y crece brindando personalizada atención al público, con trabajos de verdadera calidad, técnica y acertada interpretación profesional, por lo que su presencia se impone veloz y firmemente, haciéndole merecer, al presente, una respetuosa consideración dentro de la especialidad.
        </p>
        <p>
          Limitada su tarea a las prestaciones de radiologia convencional, desde Abril de 1991 las mismas se amplían por la habilitación del Departamento de Ecografía, incorporando un equipo nuevo. de origen japonés el SAL 38 D de TOSHIBA. que pennite el trabajo en ecografía general y Doppler.
        </p>
        <p>
          Desde el mes de Mayo de 1992 se crea el Departamento de Tomografía Computada, al que se dota de un moderno equipo TOSHIBA T.C.T. 500S, de última generación que, con cortos tiempos de barrido, permite imágenes de extraordinaïia resolución y altísima precisión.
        </p>
        <p>
          Como reafirmación del deseo y la intención de continuar marcando su presencia en el medio científico asistencial de la especialidad, y poniendo de manifiesto una verdadera actualización en el amplio espectro de las prestaciones ofrecidas, se incorpora a mediados de 1994 el más avanzado y sofisticado Equipo para Mamografías, el Senographe DMR de General Electric, que está dotado, como complemento, del dispositivo Sterotix, tridimensional, para localización y biopsias de lesiones con Phantom y Pack de 10 Guias para agujas de diferentes diámetros.
        </p>
        <p>
          Ampliando la complejidad del Departamento de Ecografía, se ha incorporado, un moderno Ecocardiotomógrafo multidisciplinario nuevo, de fabricación japonesa, el SSH - 140 A Power Pace de TOSHIBA, con sistema color y video impresora, y otro equipo más, el ecógrafo de ALOKA nuevo, de origen Japonés, modelo Echo-Camera SSD-500 con su completo juego de transductores.
        </p>
        <p>
          El funcionamiento del Centro Radiológico se cumplía mediante la adecuada utilización de tres locales diferentes, separados aunque próximos y a fines de 1995 se adquiere una amplia y valiosa propiedad vecina, de generosa superficie (750 m2) y en su totalidad edificable, con la idea de unificar la atención en un solo edificio que las reúna adecuadamente, a la vez que permita su crecimiento futuro, tanto en complejidad como en la variedad de prestaciones, sin que se deba sufrir ningún tipo de desarraigo.
        </p>
        <p>
          Se elige un programa de construcción, que contempla la edificación por módulos de habilitación parcial, de tal manera que no interfieran en el funcionamiento de los habilitados.
        </p>
        <p>
          El proyecto tiene definido un auditorio con capacidad para 100 asistentes, en el 1º Piso, que dispondrá de los detalles de iluminación y acústica acordes con las indicaciones más actuales y modernas, con amplio espacio de "desborde" en el que estarán el bar y office en condiciones de atenderlo y servirlo convenientemente.
        </p>
        <p>
          Actualmente, se ha concretado la instalación y funcionamiento de un equipo para Resonancia Magnética, nuevo, fabricado en los Estados Unidos de Norteamérica, por TOSHIBA CORPORATION con moderno y sofisticado software de aplicación y bobinas RF digitales, integrándose un conjunto completo y verdaderamente actualizado que incorpora una amplia variedad de nuevas prestaciones, como la Colangio Resonancia y Angioresonancia, etc.
        </p>
        <p>
          Al mismo tiempo, suma a su ya importante y completa dotación instrumental, una instalación para Radiodiagnóstico nuevo, fabricado en Japón por TOSHIBA con los últimos adelantos de la tecnología electrónica, habilitando tres puestos de trabajo con seriografía y planigrafía lineal.
        </p>
        <p>
          El momento presente muestra al Centro Radiológico, orgullosamente instalado en su nuevo edificio, donde están funcionando sus diferentes departamentos de atención. Coherente con su historia, está dispuesto a no frenar su expansión futura, centrando sus expectativas de crecimiento en armónica consonancia con las recomendaciones que, natural y lógicamente, sigan siendo dictadas por las necesidades del medio asistencial en el que se desenvuelve.
        </p>
        <p>
          Desde el mes de setiembre del pasado 1999, la entrada en funcionamiento un nuevo paquete de prestaciones especiales, con el Departamento de Densitometria Osea al que se le ha previsto de un equipamiento que no desentona con la calidad del resto de la dotación instrumental del Centro Radiológico.
        </p>
      </article>
    </div>

    <div class="large-4 columns">
      <%= render 'in_memoriam_panel' %>
      <%= render 'info_panel' %>
    </div>
  </div>
</div>
