<div id="title_bar">
  <div class="row">
    <div class="large-12 columns">
      <h2>Carrera Universitaria de Especialización en Diagnóstico por Imagenes con Modalidad de Residencia - UTN</h2>
    </div>
  </div>
</div>
