<div id="pagina-info">
  <%= render 'title_bar' %>
  <%= render 'sub_menu' %>

    <div class="row">
    <div class="large-8 columns">
      <iframe height="800" frameborder="0" scrolling="no" style="width:100%;border:none" src="http://emanuelinsignia4u.wufoo.com/embed/z7x3p3/">&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;a href="http://emanuelinsignia4u.wufoo.com/forms/z7x3p3/"&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;Fill out my Wufoo form!&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;lt;/a&amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;amp;gt;</iframe>
    </div>

    <div class="large-4 columns">
      <div class="info-panel">
        <div class="panel">
          
          <div class="description">
            <p>Muñecas 444</p>
            <p>San Miguel de Tucumán</p>
            <p>Tucumán</p>
            <p>Argentina</p>
            <p>C.P.: (T4000IKJ)</p>
            <br />
            <p>Tel. 54 381-421 7000</p>
            <p>Tel. 54 381-430 2134</p>
            <br />
            <p>
              <a href="mailto:info@mendezcollado.com">residencia@mendezcollado.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="info-panel">
        <div id="map_canvas" style="width:290px; height:350px"></div>
      </div>
    </div>
  </div>
</div>
