<div id="info-panel">
  <div class="panel panel-jornadas">
    <img src="http://mc-cms-production.s3.amazonaws.com/empresa/image-info-panel.png" />
    <h2>Jornadas<br />Pre-Inscripción</h2>
    <p>IV Jornadas de diagnóstico por imágenes<br />“Prof. Dr. Luis Mendez Collado”<br />12 y 13 de Septiembre de 2013</p>
    <%= link_to "VER MÁS", pre_inscripciones_path, :class=>"link_button" %>
  </div>
</div>

<div id="info-panel">
  <div class="panel">
    <img src="http://mc-cms-production.s3.amazonaws.com/empresa/image-info-panel.png" />
    <h2>Actividades Académicas</h2>
    <p>Carrera Universitaria de Especialización en Diagnóstico por Imágenes - UNT</p>
    <%= link_to "VER MÁS", career_articles_path, :class=>"link_button" %>
  </div>
</div>
