<br /><h3><strong>IV JORNADAS DE DIAGNOSTICO POR IMÁGENES
  <br />“PROF. DR. LUIS MENDEZ COLLADO”</strong></h3>
<h3>12 Y 13 DE ABRIL DE 2013
  <br />Salón Emperador - Hotel Carlos V – 25 de Mayo 330</h3><br />
<h3>VIERNES 12 DE ABRIL</h3>
 <ul>
     <li>20.00 Inscripciones</li>
     <li>20.15 Apertura – Dr. Martín Méndez Uriburu</li>
     <li>20.30 Lesiones de la Cadera: puesta al día (Dr. Rodrigo Restrepo*)</li>
     <li>21.40 Evaluación de la Rodilla en RM: (Dr. Julio Méndez Uriburu)</li>
     <li>22.00 Lesiones poco frecuentes del tobillo y pie: (Dr. Rodrigo Restrepo)</li>
  </ul>   
<h3>SABADO 13 DE ABRIL</h3>
   <ul>
      <li>10.00 Microbobinas: utilidad en RM (Dr. José Buteler)</li>
      <li>10.30 Lesiones del hombro: actualización (Dr. Rodrigo Restrepo)</li>
      <li>11.00 Presentación de caso clínico. (Residencia C. Radiológico L. M. Collado)</li>
      <li>11.30 Pinzamiento de la Muñeca y FCT: (Dr. Rodrigo Restrepo)</li>
      <li>12.00 Imágenes de alta resolución del aparato de la uña (Dr. Rodrigo Restrepo)</li>
      <li>12.15 Cierre de las 4º Jornadas</li>
      <li> * Ex Presidente del Colegio Interamericano de Radiología / Prof. Asociado de Radiología Fac. de Medicina Medellín, Colombia / Dir. de Resonancia Magnética Cedimed. Medellín</li>
   </ul>   
<p>Duración de 10 horas académicas sin evaluación final.<br />
      Director: Prof. Dr. Luis Méndez Uriburu<br />
      Coordinadores: Dr. Martín Mendez Uriburu / Dr. Jorge Ahualli<br />
      INSCRIPCION GRATUITA EN: www.mendezcollado.com<br />
      Inscripciones: Telefonica: 4217000 – Int. 154 (de 08:00 a 12:00 y de 16:00 a 20:00)
      </p>
<ul>
   <li>Inscripción Gratuita</li>
</ul>
