<div id="pagina-info">
  <div id="title_bar">
    <div class="row">
      <div class="large-12 columns">
       <h2>Certificación Sistema de Gestión de la Calidad <br />
ISO 9001:2000</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-8 columns">
      <section id="main">
        <article><br />
           <p>
             El pasado 19 de Abril del presente año el Centro Radiológico Luis Méndez Collado S.R.L, recibió por parte del Instituto Argetnino de Normalización y Certificación (IRAM), el certificado que avala la conformidad de su Sistema de Gestión de la Calidad con la norma IRAM - ISO 9001:2000, en los procesos de Facturación y Cobranza de los servicios prestados y en la prestación de los siguientes servicios:
           </p>
             <ul>
               <li>Radiología</li>
               <li>Ecografía</li>
               <li>Ecografía Doppler</li>
               <li>Mamografía</li>
               <li>Densitometría Mineral Ósea</li>
               <li>Medicina Nuclear</li>
               <li>Tomografía Axial Computada</li>
               <li>Resonancia Magnética Nuclear</li>
             </ul>
           <br />
           <h3>¿Qué significa que Méndez Collado Certificó IRAM - ISO 9001:2000?</h3>
           <p>
              Significa que el Centro Radiológico Luis Méndez Collado implementó un Sistema de Gestión de Calidad que cumple tres requisitos:
                <br />
                   </p>
                    <ul>
                      <li>Responde a los lineamientos de la norma de Gestión de la Calidad IRAM – ISO 9001 del año 2000, </li>
                      <li>Está orientado para satisfacer las necesidades y expectativas de sus Clientes Pacientes, sus Colaboradores, sus Clientes Médicos Derivantes y sus clientes Instituciones Derivantes</li>
                      <li>Está diseñado para mejorar continuamente su desempeño en la satisfacción de todos esos Clientes y partes interesadas.</li>
                   </ul>
           <h3>¿Qué sentido tiene el Certificado otorgado?</h3>
           <p>
             El Certificado otorgado por IRAM significa el compromiso del Centro Radiológico Luis Méndez Collado a cumplir esos tres requisitos, mejorando continuamente la satisfacción de sus partes interesadas.
No es un premio ni una distinción. Es inicio de un camino cuyo destino es la excelencia a través de la mejora continua. 
           </p>
          <h3>¿Qué es ISO?</h3>
           <p>
             ISO es la abreviatura (en inglés) de Organización Internacional de Normalización.
Tiene su sede en Suiza, y está formada por los organismos de normalización de más de 150 países.Los distintos equipos técnicos formados por representantes de los países miembros, redactan normas técnicas y normas de gestión.
La serie de normas IRAM – ISO 9000:2000 es la primera de las normas de gestión.
           </p>
          <h3>¿Qué sentido tiene el Concepto de Calidad?</h3>
           <p>
             Calidad significa la satisfacción de las necesidades y expectativas del Cliente. En Méndez Collado reconocemos un concepto muy amplio de Clientes, que llamamos partes interesadas.
Las necesidades definen los requisitos que debemos cumplir y que son obligatorios.
Las Expectativas son la forma en que la amplia gama de Clientes espera que sean satisfechas esas necesidades o requisitos.
           </p>
       </article>
         <hr />
     </section>
    </div>

    <div class="large-4 columns">
      <%= render 'info_panels_certificacion_iso.html' %>
    </div>
  </div>
</div>
