<h3>Nuestros Residentes</h3>
    <p>La residencia en Diagn칩stico por Imagenes del Centro Radiol칩gico Mendez Collado fue creada en el a침o 1992 y desde entonces funciona regularmente y sin interrupci칩n.
    </p>
    <% if Resident.all.any? %>
      <ul>
        <% Resident.all.each do |resident| %>
          <li><%= resident.profesional_name %> <%= resident.period %></li>
        <% end %>
        </ul>
      <% end %>
       <%= image_tag ResidentPhoto.last.image.url(:large), width:"480", height:"225" %>
       <br />
<br /> 
