<div id="pagina-info">
  <div id="title_bar" class="with-submenu">
    <div class="row">
      <div class="large-12 columns">
       <h2>Quienes Somos</h2>
      </div>
    </div>
  </div>

  <%= render 'sub_menu' %>

  <div class="row">
    <div class="large-8 columns">
       <article>
        <p>
          Emplazado en céntrica ubicación, de rápido acceso a través de calles de circulación preferencial, se encuentra comunicado fluidamente con el exterior a través de seis lineas telefónicas rotativas unificadas al N°(0381) 421-7000, en PBX. disponiendo delinea directa para la conexión de Fax, el N° (0381) 430-­2134.
        </p>
        <p>
          El Centro Radiológico desarrolla sus actividades orientadas al Diagnóstico por Imágenes, en el edificio de Calle Muñecas 444 de esta ciudad de San Miguel de Tucumán.
        </p>
        <p>
          En la actualidad está habilitada la totalidad de la planta baja, con 750 m2 cubiertos, a los que se suman 135 m2 cubiertos más del edificio lindero, que está comunicado internamente con aquella edificación principal, y donde se encuentra en funcionamiento la sección de Medicina Nuclear.
        </p>
        <p>
          Se trata de una construcción que se presenta de manera brillante, tal la luminosa sensación ofrecida por el amplio frente vidriado de la planta baja, que deja a la vista su espacioso y confortable interior, al que se accede cómoda y fácilmente por una escalera o una rampa antideslizante de suave pendiente.
        </p>
        <p>
          Una playa cubierta está dispuesta para la recepción de las ambulancias encargadas del traslado de los pacientes, que de esta manera están convenientemente protegidos de las inclemencias del tiempo.
        </p>
        <p>
          La edificación se ha realizado en volúmenes separados (módulos) con patios de aire y luz en las que se ha previsto la circulación vertical, con respeto a las exigencias técnicas para el Diagnóstico por Imágenes.
        </p>
        <p>
          Una característica que se considera digna de destacarse, es que la estructura está pensada con la mayor flexibilidad, posibilitando futuras modificaciones en su interior, a los fines de adecuarse debida y fácilmente, a los permanentes cambios que caracterizan el desarrollo tecnológico del instrumental médico que debe manejarse en la especialidad.
        </p>
        <p>
          Toda la planta está organizada como una red, en uno de cuyos extremos están la recepción principal y las dos accesorias, y permite la circulación del público así como la confortable espera para la atención y control de los resultados; el otro extremo marca la circulación técnica de personal, medicos y pacientes en camilla. Ambos extremos están comunicados entre si a través de las salas de estudio y las recepciones.
        </p>
        <p>
          Cada Sala de examen está preparada, en su volumen y su protección, de acuerdo al tipo de equipo al que fue destinada; todas ellas tienen doble ingreso para el paciente, deforma que cada uno de ellos es un pequeño vestuario con lo que agiliza enormemente el trabajo específico. Esta dotada de aire acondicionado central, debidamente seclorizado y con refuerzos en me sectores más criticos. Se ha realizado la instalación de cañeria central para la distrihución de oxigeno y vacuo aspiración a las diferentes salas de estudio y de recuperación. 
          Planificada para la realización de la totalidad de las prestaciones de la especialidad, del presente y del futuro, ha previsto su crecimiento en altura, y su comunicación por medio de un ascensor, un montacargas y tres escaleras.
        </p>
      </article>
    </div>

    <div class="large-4 columns">
      
    </div>
  </div>
</div>
